# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / Dist
dist/
out/
release/

# Banco de dados local
luz_da_lua_db.sqlite

# Electron / OS arquivos temporários
*.asar
*.tmp
*.log
*.lock
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Prettier
.prettierrc

# NPM package lock (opcional, se quiser sempre instalar fresh)
# package-lock.json

